beautifulsoup4
brotlipy==0.7.0
certifi==2020.12.5
cffi
chardet
cryptography
idna
pycparser
PyJWT==1.7.1
pyOpenSSL
PySocks
pytz==2021.1
requests
six
soupsieve
twilio==6.58.0
urllib3
win-inet-pton
wincertstore==0.2
